In [5]:
import pandas as pd
import numpy as np

In [9]:
dta1=pd.read_csv('file1.csv')

In [10]:
dta2=pd.read_csv('file2.csv')

In [11]:
dta3=pd.read_csv('file3.csv')

In [14]:
dta1.shape

(4008, 11)

In [15]:
dta2.shape

(996, 11)

In [16]:
dta3.shape

(7070, 11)

In [25]:
dta1.columns = dta1.columns.str.lower()
dta2.columns = dta2.columns.str.lower()
dta3.columns = dta3.columns.str.lower()

In [26]:
dta1.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [27]:
dta2.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')

In [28]:
dta3.columns

Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [33]:
dta3 = dta3.rename(columns={"state" :  "st"})

In [34]:
dta3.columns

Index(['customer', 'st', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [42]:
dta1 = dta1[['customer', 'st', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class']]

In [43]:
dta2 = dta2[['customer', 'st', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class']]

In [47]:
dta1.columns == dta2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [48]:
dta2.columns == dta3.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [49]:
lab3data = pd.concat([dta1,dta2,dta3])

In [50]:
lab3data.shape

(12074, 11)

In [51]:
lab3data.head()

,customer,st,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

In [52]:
lab3data.dtypes

customer                      object
st                            object
customer lifetime value       object
education                     object
gender                        object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
total claim amount           float64
vehicle class                 object
dtype: object

In [57]:
n_cols = lab3data.select_dtypes(include=['int', 'float']).columns
n_cols

Index(['income', 'monthly premium auto', 'total claim amount'], dtype='object')

In [59]:
c_cols = lab3data.select_dtypes(include=['object']).columns
c_cols

Index(['customer', 'st', 'customer lifetime value', 'education', 'gender',
       'number of open complaints', 'policy type', 'vehicle class'],
      dtype='object')

In [70]:
lab3data.drop(['education', 'number of open complaints'], axis=1, inplace=True)

In [71]:
lab3data

,customer,st,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.98798,M,71941.0,73.0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,F,21604.0,79.0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,M,0.0,85.0,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,M,21941.0,96.0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,M,0.0,77.0,Corporate Auto,369.600000,Two-Door Car

In [99]:
lab3data['customer lifetime value'].astype(str).str.replace('%','').astype(float) / 100 #for loop if is... do this, if not, do this...

0                NaN
1        6979.535900
2       12887.431700
3        7645.861800
4        5363.076500
            ...
7065      234.059880
7066       30.965112
7067       81.638904
7068       75.244424
7069       26.118369
Name: customer lifetime value, Length: 12074, dtype: float64

In [83]:
lab3data.drop_duplicates()

,customer,st,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.98798,M,71941.0,73.0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,F,21604.0,79.0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,M,0.0,85.0,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,M,21941.0,96.0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,M,0.0,77.0,Corporate Auto,369.600000,Two-Door Car

In [85]:
filtered = lab3data[lab3data["income"]<=0]

In [86]:
filtered

,customer,st,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
7,CF85061,Arizona,721610.03%,M,0.0,101.0,Corporate Auto,363.029680,Four-Door Car
10,SX51350,California,473899.20%,M,0.0,67.0,Personal Auto,482.400000,Four-Door Car
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,5678.050167,F,0.0,76.0,Personal Auto,364.800000,Four-Door Car
7061,RX91025,California,19872.262,M,0.0,185.0,Personal Auto,1950.725547,SUV
7062,AC13887,California,4628.995325,M,0.0,67.0,Corporate Auto,482.400000,Two-Door Car
7067,TD14365,California,8163.890428,M,0.0,85.0,Corporate Auto,790.784983,Four-Door Car
7069,Y167826,California,2611.836866,M,0.0,77.0,Corporate Auto,369.600000,Two-Door Car